# Node.js
node_modules/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
env/
.venv/
.env/

# Archivos de entorno
.env
.env.*

# VSCode
.vscode/

# MacOS
.DS_Store

# Otros
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Jupyter
.ipynb_checkpoints/

# PyInstaller
build/
dist/
*.spec

# FastAPI
*.db

# Coverage
htmlcov/
.coverage
coverage.xml
backend/__pycache__/main.cpython-312.pyc
